.result {
  background-color: rgb(206, 220, 209);
  min-height: 100px;
  min-width: 200px;
  max-width: 400px;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}
.result-wrapper {
  flex: 1;
  margin-left: 10px;
}
button {
  padding: 5px 20px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 10px;
}
button:hover {
  background-color: #999;
  color: azure;
}
button:focus {
  outline: none;
}
.details {
  margin-top: 10px;
  max-width: 100px;
}
